._*
.htaccess
.sass-cache
public/bower-components/
public/build/
wp-content/themes/gogreen/node_modules/
wp-content/themes/gogreen/scss
wp-content/themes/gogreen/gulpfile.js
wp-content/themes/gogreen/package.json
