html {
    font-size: $base-font-size;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: $width-default;
  width: $width-default;
}

body{
    color: $base-color;
    font: normal $base-font-size $global-font;
    font-weight: 100;
    @include box-sizing(border-box);
}

hr {
  border: none;
  border-bottom: solid 1px $global-gray;
}

a{
    text-decoration: none;
    @include x-transition(all 0.3s ease-in-out);
    &:hover, &:focus{
        color: $global-green-hover;
        outline: none;
        }
    }

p,a{
    margin-bottom: 15px;
    color: $global-green;
    }

h1,h2,h3,h4,h5,h6{
    font-family: $global-font;
    margin-bottom: 20px;
    }

h1 {
  font-size: 45px;
  color: $global-green;
}

h2 {
    font-weight: 200; 
    font-size: 25px;
    margin: 0;
    color: $global-green;
    padding-bottom: 30px;
}

h3 {
    font-weight: 200;
    font-size: 18px;
}

h4 {
    font-weight: 500;
    font-size: $base-font-size;
}

h5 {
    font-weight: 900;
    font-size: 14px;
}

h6 {
    font-weight: 900;
    font-size: 12px;
    text-transform: uppercase;
}

ul,ol{
  @extend .no-mp;
}

.after-pseudo {
  content: "";
  @extend .dis-block, .clearall;
}

.dis-block {
  display: $block;
}

.roundedborder {
  @include border-radius (4px);
}

.float-left{
    float: $left;
}

.float-right{
  float: $right;
}

.no-mp{
  margin: 0;
  padding: 0;
}