// LAYOUT

.main-container {
	width: $width-wrapper;
	margin: 0;
	padding: 0;
}

.container{
	max-width:  1170px;
	margin: 0 auto;
	padding: 0 20px;
	&:after{
		@extend .after-pseudo;
	}
}

header{
    background: $lightgray;
    padding: 45px 0px 125px;
    &:after{
		@extend .after-pseudo;
	}
}

footer{
	background: #2D2D2D;
	&:after{
		@extend .after-pseudo;
	}
}

.navigation {
	color: $global-white;
}

.main-wrapper{
	@extend .after-pseudo;
	max-width:$width-default;
}

.width-wrapper{
	width:$width-wrapper;
    margin: 0 auto;
}

.left-width{
	width: $left-width;
}
.main-width{
	width: $main-width;
}
.right-width{
	width: $right-width;
}

// INNER COL WIDTH
.col-left{
	width: $col-left;
}

.col-main{
	width: $col-main;
}
.col-right{
	width: $col-right;
}

.content {
	padding: 15px;
}