// COLOR
$base-color: #a1b1bc;
$global-green : #a5a5a5;
$global-green-hover : #87c89f;
$global-green-focus : #339900;
$global-gold: #ffcc00;
$global-white: #ffffff;
$global-black: #000000;
$global-gray: #333333;
$lightgray: #cccccc;
$fadelight: #e8e8e8;

// FLOAT
$left: left;
$right: right;

// FONT
$global-font: 'source_sans_proregular', sans-serif;
$global-font-light: "montserratlight","Segoe UI",Arial,sans-serif;
$global-font-bold : "montserratbold","Segoe UI",Arial,sans-serif;
$base-font-size: 14px;

// DISPLAY
$block: block;

// Z-INDEX

$main-zindex: 1;
$nav-zindex: 3;
$shadow-zindex: 2;

// DIMENSION
$width-default: 100%;
$width-wrapper: 100%;

$left-width: (300/1000)*100%;
$main-width: (700/1000)*100%;
$right-width: (300/1000)*100%;

$col-left: (300/700)*100%;
$col-main: (400/700)*100%;
$col-right: (300/700)*100%;
