@import "partials/variables";
@import "partials/mixin";
@import "partials/reset";
@import "partials/fonts";
@import "partials/global";
@import "partials/layout";
@import "partials/navigation";
@import "partials/breadcrumb";
@import "partials/form";
.logo{
    text-indent: -9999px;
    font-style: 0;
    display: inline-block;
    a{
        background: url("../images/logo-spirits.png") no-repeat;
        width: 100px;
        height: 40px;
        line-height: 40px;
        display: block;
    }
}

.post-categories{
    display: inline-block;
    li{

    }
}

#secondary{
    .widget{
        margin-bottom: 25px;
        .widget-title{
            font-size: 14px;
            text-transform: uppercase;
            margin: 0 0 10px 0;
            color: #B2B2B2;
            font-weight: bold;
        }
        ul{
            margin:0;
            padding: 0;
            li{
                padding: 10px 0 10px 25px;
                border-bottom: 1px solid #F2F2F2;
                background: url("../images/circle.png") no-repeat left center;
                &:hover{
                    background: url("../images/circle-active.png") no-repeat left center;
                }
            }
        }
    }
}

footer{
    color: #C8C8C8;
    
    .ft-main{
        padding: 70px 0;
        &:after{
            @extend .after-pseudo;
        }
        .logo{
            float: none;
            @extend .dis-block;
        }
        h1{
            font: 13px/38px "source_sans_proregular";
            margin-bottom: 25px;
            text-transform: uppercase;
        }
    }
    .widget{
        @extend .float-left;
        width: 23.5%;
        margin-right: 2%;
        &:last-child{
            margin-right: 0;
        }
    }
    .copyrights{
        background: #222222;
        padding: 15px 0;
        line-height: 30px;
        .social-icons{
            @extend .float-right;
            margin:0;
            padding: 0;
            li{
                float:left;
                margin-right:9px;
            
                &:last-child{
                    margin-right:0;
                }
                a{
                    width:30px;
                    height:30px;
                    line-height: 30px;
                    display:block;
                    text-indent: -999px;
                    overflow: hidden;
                    margin-bottom: 0;
                    background: url('../images/social-icons.png') no-repeat;
                }
                &.tw a{
                    background-position: -38px 0;
                }
                &.vm a{
                    background-position: -76px 0;
                }
                &.dt a{
                    background-position: -113px 0;
                }
            }
        }
    }
}

.screen-reader-text{
    display: none;
}

input, textarea, select, button{
    width: 100%;
    border: 1px solid #CCC;
    padding: 10px;
    background: $global-white;
    color: #A5A5A5;
    font-family: "source_sans_proregular",sans-serif,arial;
    @include box-sizing;
}
button,input[type="button"],input[type="submit"],input[type="reset"]{
    display: block;
    background: #87C89F none repeat scroll 0% 0%;
    border: medium none;
    color: #FFF;
    padding: 12px 18px;
    font: 14px "source_sans_proregular",sans-serif;
    cursor: pointer;
    border-radius: 2px;
}
.searchform {
    input[type="text"]{
        padding: 10px 8px 8px 30px;
        background: $global-white url("../images/search.png") no-repeat scroll 8px center;
    }
    #searchsubmit{ 
        display: none;
    }
}
@import "partials/media";